@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Treasurer Mike Pfeffer<br />
    12503 Kirkham Rd. <br />
     Louisville KY 40299<br />
    <abbr title="Phone">Phone :</abbr>
    502-500-9866
</address>

<address>
    <strong>Join:</strong>   <a href="mailto:mike.pfeffer@ge.com">mike.pfeffer@ge.com</a><br />
    
</address>