@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GLBS</h1>
    <p class="lead">The Greater Louisville Bonsai socity News Letter archive is Hosted here.</p>
    <p><a href="http://louisvillebonsai.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

